
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #817b7baf;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:"Inter", serif;
}

*{/*aproximar os elementos para ficarem colados na página*/
    margin: 0;
    padding: 0;
}


body{/*Mudar o background e as cores do body*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    justify-content: center;
}

.cabecalho{/*header com os navs*/
    padding: 2% 0% 2% 6%;
    background-color: #272727;
}

.cabecalho_menu{/*Menu com os links*/
    display: flex;
    gap: 100px;/*Distância de um link pro outro*/
}

.cabecalho_menu_link{/*Os links do nav*/
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    padding: 5px;
}

.cabecalho_menu_link:hover{/*background do cabecalho usando o hover*/
    background-color:var(--cor-hover)
}

/*Estilizando o texto do formulário*/
.conteudo_formulario_titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
} 


.conteudo_formulario_subtitulo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
} 

.formulario{/*alinhando o formulario*/
    padding: 4% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilizando o texto dos inputs e textarea */
input, select, textarea, button {
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-primaria);
    border-radius: 5px;/*borda do input*/
    min-height: 2rem;/*aumentar a altura mínima do input*/
    resize: none;/*tirar o resize do textarea*/
}


/* Font family e margem entre um input e outro */
.campo {
    font-family: var(--fonte-primaria);
    margin-bottom: 1em;
}

/* Distância do label pro input */
.campo label {
    margin-bottom: 0.2em;
    color: var(--cor-terciaria);
    display: block;/*label ocupando a linha inteira*/
}



/* Estilizando os inputs de nome e email*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 2px solid var(--cor-terciaria);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);/*sombra ao redor do input*/
    display: block;/*input ocupando a linha inteira*/
}


/* Background assim que for selecionado o input*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Alinhando o botão para o formulário */
.formulario_botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

/*Estilizando o botão de enviar*/
.botao {
    font-size: 1.2em;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    background: #272727;
    border: 3px solid var(--cor-terciaria);
    color: #ffffff;
    padding: 2% 10%;/*padding para aumentar o botão*/
    transition: 0.2s;
    border-radius: 20px;
}

/* Mudar a aparência do botão usando o hover */
.botao:hover {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    background-color: var(--cor-hover);
    border: 3px solid var(--cor-terciaria);
    color: var(--cor-terciaria);
}

/* Colocar o ícone de mão no mouse assim que for clicar no botão */
.botao, select{
    cursor: pointer;
}

/*Estilizando o rodapé*/
.rodape{
    margin-top: 5px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

.rodape_texto{
    padding: 10px;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300 bold;
}



/*Responsividade*/
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .formulario{
        flex-direction: row;
        justify-content: center;
        padding: 5%;
    }
    .formulario_conteudo{
        width: auto;
        height: auto;
    }
}